.desktop {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.container_graph {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    flex-direction: column;
    height: max-content;
    width: 90%;
}

.container_graph1,
.container_graph2 {
    display: flex;
    flex-direction: row;
    width: min-content;
    height: 100%;
}

.container_graph1 > div,
.container_graph2 > div {
    background-color: aliceblue;
    margin: 5px;
    width: 100%;
    height: 100%;
}