.desktop {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.container_graph {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    flex-direction: column;
    height: max-content;
    width: 90%;
}



.container_graph1,
.container_graph2 {
    display: flex;
    flex-direction: row;
    width: min-content;
    height: 100%;
}

.container_graph1 > article,
.container_graph2 > article {
    text-align: center;
    margin: 5px;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.container_graph1 > article > h5,
.container_graph2 > article > h5{
    margin: 5px;
}

.container_graph2 > :last-child,
.container_graph1 > :last-child {
    margin-left: 25px;
    
}