.container_main {
    display: flex;
    padding: 0rem;
    width: 100%;
    min-height: 100vh;
}

.container_img {
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_nav {
    width: 15%;
    align-items: flex-start;
}

.container_nav>aside>nav>ul {
    margin: 5px;
}

.container_nav>aside>nav>ul>li:last-child {
    position: absolute;
    width: 14%;
    bottom: 0;
}

.children_main {
    width: 85%;
    background-color: white;
}