.container_main {
    display: flex;
    padding: 0rem;
    width: 100%;
    min-height: 100vh;
}

.container_img {
    background-color: var(--background-nav-hex);
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_nav {
    background-color: var(--background-nav-hex);
    width: 15%;
    align-items: flex-start;
}

.container_nav>aside>nav>ul {
    margin: 5px;
}

.desktop {
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link{
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.Link > span {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    color: var(--text-nav-hex);
}
.Link > span > p {
    padding-left: 5px;
    margin: 0px;
    display: flex;
    justify-self: center;
    align-items: center;
    color: var(--text-nav-hex);
}

.container_nav>aside>nav>ul>li:last-child {
    position: absolute;
    width: 14%;
    bottom: 0;
}

.children_main {
    width: 85%;
    background-color: var(--background-start-rgb);
}

@media only screen and (max-width: 1375) {
    /* Agrega aquí los estilos específicos para pantallas de PC pequeñas */
    .container_nav {
        width: 12%;
        align-items: flex-start;
        height: max-content;
    }
    .children_main {
        width: 88%;
        height: max-content;
        background-color: white;
    }
    .container_nav>aside>nav>ul {
        margin: 0px;
    }

    .navp{
        visibility: hidden;
        display: none;
    }

    
    /* Otros estilos para pantallas de PC pequeñas... */
  }

  @media only screen and (max-width: 1024px) {
    /* Agrega aquí los estilos específicos para pantallas de PC pequeñas */
    .container_nav {
        width: 12%;
        align-items: flex-start;
        height: max-content;
    }
    .children_main {
        width: 88%;
        height: max-content;
        background-color: white;
    }
    .container_nav>aside>nav>ul {
        margin: 0px;
        height: 100vh;
    }

    .navp{
        visibility: hidden;
        display: none;
    }

    .Link{
        display: flex;
        justify-content: center;
        cursor: pointer;
        height: 50px;
        margin: 10px;
        padding: 5px;
    }
    .Link > span {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding-left: 0px;
        height: 100%;
        display: flex;
        justify-self: center;
        align-items: center;
        color: var(--text-nav-hex);
    }
    .Link > span > p {
       display: none;
    }
    
    /* Otros estilos para pantallas de PC pequeñas... */
  }

  @media only screen and (max-width: 767px) and (max-device-width: 812px){
    /* Agrega aquí los estilos específicos para iPhone */
    .container_nav {
        width: 12%;
        align-items: flex-start;
        height: max-content;
    }
    .children_main {
        width: 88%;
        height: max-content;
        background-color: var(--background-start-rgb);
    }
    .container_nav>aside>nav>ul {
        margin: 0px;
        height: 100vh;
    }

    .navp{
        visibility: hidden;
        display: none;
    }

    .Link{
        display: flex;
        justify-content: center;
        cursor: pointer;
        height: 50px;
        margin: 10px;
        padding: 5px;
    }
    .Link > span {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding-left: 0px;
        height: 100%;
        display: flex;
        justify-self: center;
        align-items: center;
        color: var(--text-nav-hex);
    }
    .Link > span > p {
       display: none;
    }

   
    
    /* Otros estilos para iPhone... */
  }