.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}


.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: min-content;
  margin: 0px;
}

.containerform{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}


.form_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 535px;
  padding: 10px;
  margin: 5;
}

.containerbutton{
  width: max-content;
  height: 100px;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

